<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
</head>
<body>
	 <% users.forEach(function(user){ %>
    	<div> <%= user.name %>  </div>
    	<div> <%= user.number %>  </div>
  	<% }); %>
</body>
</html>